@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
    width: 100%;
    overflow-x: hidden;
}

body {
    color: whitesmoke;
    background-color: rgba(0, 0, 30, 1);
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body,
body * {
    color: inherit;
}

a {
    color: #4d9ef6;
    text-decoration: none;
}

a:hover {
    color: #82c0ff;
    text-decoration: underline;
}

/* TODO: figure out why this doesn't work */
html body a,
html body a *,
html body a:hover,
html body a:hover *,
html body a:focus,
html body a:focus *,
html body a:active,
html body a:active * {
    cursor: pointer !important;
}

button:not(:disabled),
[role="button"]:not(:disabled) {
    cursor: pointer;
}

.fade-in {
    animation: fadeInAnimation 1s forwards;
}

.fade-out {
    animation: fadeOutAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
